.movie-title {
    height: 300px;
}

.title-box {
    display: inline;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    list-style-type: none;
}


.word {
    display: inline;
    padding: 5px;
}

