button {
    border: 1px solid  #566cd1;
    background-color:#63cef8;    
    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 4px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    border: 1px solid  #566cd1;
    background-color:#53afd3;  

}

button:active {
    border: 1px solid  #566cd1;
    background-color:#3f86a1;  
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: pointer;

}